<a href="https://colab.research.google.com/github/AYANSHVERMA05/repo1/blob/main/CSVFILE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:

import pandas as pd

# List of data
data = [['Alice', 24], ['Bob', 27], ['Charlie', 22]]

# Creating DataFrame
df_list = pd.DataFrame(data, columns=['Name', 'Age'])
print(df_list)


# List of tuples
data = [('Alice', 24), ('Bob', 27), ('Charlie', 22)]

# Creating DataFrame
df_tuples = pd.DataFrame(data, columns=['Name', 'Age'])
print(df_tuples)


# Dictionary of data
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [24, 27, 22]}

# Creating DataFrame
df_dict = pd.DataFrame(data)
print(df_dict)

df.to_csv('file4.csv', index=False)

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

NameError: name 'df' is not defined

In [9]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    "Name": ["John", "Anna", "Peter", "Linda"],
    "Age": [28, 24, 35, 32],
    "City": ["London", "Paris", "Berlin", "Tokyo"],
}
df = pd.DataFrame(data)
print("DataFrame from dictionary:")
print(df)

# Save to CSV
df.to_csv("dictionary_dataframe.csv", index=False)

# Creating a DataFrame from a list of lists with column names
data_list = [
    ["John", 28, "London"],
    ["Anna", 24, "Paris"],
    ["Peter", 35, "Berlin"],
]
df_list = pd.DataFrame(data_list, columns=["Name", "Age", "City"])
print("\nDataFrame from list of lists:")
print(df_list)

# Save to CSV
df_list.to_csv("list_dataframe.csv", index=False)

# Accessing columns
print(f"\nNames column:\n{df['Name']}")

# Filtering rows
print(f"\nPeople older than 30:\n{df[df['Age'] > 30]}")

DataFrame from dictionary:
    Name  Age    City
0   John   28  London
1   Anna   24   Paris
2  Peter   35  Berlin
3  Linda   32   Tokyo

DataFrame from list of lists:
    Name  Age    City
0   John   28  London
1   Anna   24   Paris
2  Peter   35  Berlin

Names column:
0     John
1     Anna
2    Peter
3    Linda
Name: Name, dtype: object

People older than 30:
    Name  Age    City
2  Peter   35  Berlin
3  Linda   32   Tokyo