<a href="https://colab.research.google.com/github/AYANSHVERMA05/repo1/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:

import pandas as pd

# List of data
data = [['Alice', 24], ['Bob', 27], ['Charlie', 22]]

# Creating DataFrame
df_list = pd.DataFrame(data, columns=['Name', 'Age'])
print(df_list)


# List of tuples
data = [('Alice', 24), ('Bob', 27), ('Charlie', 22)]

# Creating DataFrame
df_tuples = pd.DataFrame(data, columns=['Name', 'Age'])
print(df_tuples)


# Dictionary of data
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [24, 27, 22]}

# Creating DataFrame
df_dict = pd.DataFrame(data)
print(df_dict)

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22